name: Deploy website on push
on: 
  push:
    branches:
    - live
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2
      with: 
        ref: live

    - name: Use Node.js 14
      uses: actions/setup-node@v2
      with:
        node-version: '14'
      
    - name: Build Project
      run: |
        npm install
        npm run build
    
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        local-dir: build/
        server: 92.63.169.233
        username: github
        password: ${{ secrets.ftp_password }}
        server-dir: var_www/signup/
